<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="{{ eleventy.generator }}">
  <link href="/main.css" rel="stylesheet">
  <link rel="alternate" type="application/atom+xml" title="fabon's blog" href=/feed.xml />
  <title>{{ title }}</title>
</head>
<body>
  <header><a href="/">fabon's blog</a></header>
  {{ content }}
</body>
</html>
