---
layout: layouts/base.vto
title: fabon's blog
eleventyImport:
  collections: ["posts"]
---

<main>
  <h1>posts</h1>
  <div class="posts">
    {{ for post of collections.posts.toReversed() }}
      <section>
        <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
        {{ include "time.vto" { date: post.date } }}
      </section>
    {{ /for }}
  </div>
</main>
